@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;700&family=Montserrat:ital,wght@0,100;0,200;1,100;1,200&family=Poppins:ital,wght@0,100;0,200;1,100&display=swap');
*{
    padding: 0;
    margin: 0;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
}
.container{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(0, 102, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .box-1{
    width: 700px;
    border-radius: 10px;
    position: relative;
    display: flex;
    height: 450px;
    background-color: white;
}
.container .box-1 .login{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.container .box-1 .login h3{
    font-family: Helvetica;
    text-align: center;
    letter-spacing: 2px;
    font-size: 1.8em;
    margin-top: 30px;
    font-weight: 500;
    color: rgb(81, 98, 255);
}
.container .box-1 .login h3 span{
    font-weight: 700;
}
.container .box-1 .login form{
    width: 50%;
    height: auto;
    font-family: Inter;
    margin: 20px auto;
    display: flex;
    position: relative; 
    flex-direction: column;
}
.container .box-1 .login form .input-control{
    width: 100%;
    height: 35px;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 0 20px;
    margin: 10px auto;
    border: solid 0.5px rgba(0, 0, 0, 0.493);
}
.container .box-1 .login form a{
    text-decoration: none;
    color: rgb(81, 98, 255);
    font-size: 14px;
    margin-bottom: 20px;
}
.container .box-1 .login form hr{
    width: 70%;
    margin: 10px auto;
}
.container .box-1 .login form .btn-sub{
    width: 50%;
    height: 30px;
    border: none;
    border-radius: 4px;
    background-color: rgb(0, 102, 255);
    cursor: pointer;
    font-family: Montserrat;
    font-weight: 700;
    color: white;
    outline: none;
    margin: auto;
}
.container .box-1 .login form .sosmed{
    width: 80%;
    height: auto;
    display: flex;
    justify-content: space-around;
    margin: 10px auto;
}
.container .box-1 .login form .sosmed .sos{
    padding: 8px 12px;
    border-radius: 3px;
    border: none;
    font-family: Inter;
    font-weight: 700;
    color: white;
}
form .sosmed button.goo{
    background-color: rgb(243, 24, 24);
}
form .sosmed button.fac{
    background-color: rgb(35, 12, 240);
}
form .sosmed button.app{
    background-color: rgb(0, 0, 0);
}
