@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300&family=Montserrat:ital,wght@0,100;0,200;1,100;1,200&family=Poppins:ital,wght@0,100;0,200;1,100&display=swap');
*{
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.container{
    width: 100%;
    display: flex;
    align-items: center;
    min-height: 100vh;
}
.container .box-1{
    width: 900px;
    height: auto;
    display: flex;
    justify-content: space-around;
    margin: auto;
}
.container .box-1 .box-2{
    width: 450px;
    height: 550px;
}
.container .box-1 .box-2 form{
    width: 90%;
    height: auto;
    margin: 20px auto;
}
.container .box-1 .box-2 form h3{
    font-family: Helvetica;
    color: rgb(0, 102, 255);
}
.container .box-1 .box-2 form h3 span{
    font-weight: 700;
}